body {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: sticky;
    width: 100%;
    height: 40px;
    background-color: rgb(43, 43, 43);
    margin: 0;
    margin-top: 1%;
    text-align: center;
} 
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li audio{
    width: 400px;
    padding-bottom: 40px;
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    display: inline;
    width: 120px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.menu_about{
    position: fixed;
    right: 30px;
    color: black;
}
.menu {
    float: left;
    margin: 0;
}
li{
    list-style-type: none;
}
th li{
    text-align: left;
    position: relative;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 50px;
    border: 6px red;
}
.active {
    background-color: rgb(255 24 0);
}

iframe{
    position: absolute;
    top: 15%;
    right: 15%;
    background-color: black;
    border-radius: 30px;
    border: 10px black;
}
.stylep3 {
    display: block;
    position: relative;
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 17px;
    padding-bottom: 0px;
    text-align: center;
}
ul{
    list-style-type: none;
    position: absolute;
    top: 30%;
}
ul.sous_menu {
    display: none;
}

li:hover>ul.sous_menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 90%;
    color: white;
}