body {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,p{
    text-align: center;
}
img{
    width: 300px;
    position: relative;
    left: 39%;
}
nav{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    position: relative;    
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li :hover{
    color: rgb(255 24 0);
    transition: 0.7s;
}
.menu ul li::after{
    content: '';
    width: 0;
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -2px;
    transition: 0.7s;
    background:rgb(255 24 0) ;
}
.menu ul li:hover::after{
    width: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li audio{
    width: 400px;
    padding-bottom: 40px;
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    display: inline;
    width: 120px;
    height: 20px;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}
th li{
    text-align: left;
    position: relative;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 50px;
    border: 6px red;
}
.active {
    background-color: rgb(255 24 0);
}

iframe{
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: black;
    border-radius: 30px;
    border: 10px black;
}
.stylep3 {
    display: block;
    position: relative;
    background-color: rgb(49, 49, 49);
    width: 300px;
    height: 60px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding-top: 17px;
    padding-bottom: 0px;
    text-align: center;
}
ul{
    list-style-type: none;
    position: absolute;
    top: 30%;
}
ul.sous_menu {
    display: none;
}

li:hover>ul.sous_menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 90%;
    color: white;
}